<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
    <string>InstaYum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>InstaYum</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
			<string>https</string>
			<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
			<string>fetch</string>
			<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>

	
	<!-- Permission options for the `location` group -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Kindly allow location access when in use to get current location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Kindly allow location access always and when in use to get current location!</string>
	<key>NSLocationUsageDescription</key>
	<string>Kindly allow location access for older devices.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Kindly allow location access always to get current location</string>
	<!-- Permission options for the `mediaLibrary` group -->
	<key>NSAppleMusicUsageDescription</key>
	<string>Kindly allow media library to access music files</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Kindly allow to get access of media library</string>
	<!-- Permission options for the `calendar` group -->
	<key>NSCalendarsUsageDescription</key>
	<string>Kindly allow calendar to access events</string>
	<!-- Permission options for the `camera` group -->
	<key>NSCameraUsageDescription</key>
	<string>Need to Capture Image from Camera</string>
	<!-- Permission options for the `contacts` group -->
	<key>NSContactsUsageDescription</key>
	<string>Kindly allow to access contacts to invite users</string>
	<!-- Permission options for the `microphone` group -->
	<key>NSMicrophoneUsageDescription</key>
	<string>App require access to your Microphone while using video and audio calling</string>
	<!-- Permission options for the `speech` group -->
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Kindly allow speech recognition to access video calling</string>
	<!-- Permission options for the `sensors` group -->
	<key>NSMotionUsageDescription</key>
	<string>Kindly allow to detect motion to access video calling</string>
	<!-- Permission options for the `photos` group -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires to save your images in user gallery</string>
	<!-- Permission options for the `reminder` group -->
	<key>NSRemindersUsageDescription</key>
	<string>Kindly allow access to get notify about reminders</string>
	
</dict>
</plist>
